# ====== Environment Variables ======
.env
.env.local
.env.*.local
backend/.env
frontend/.env
mininet_twin/.env

# ====== Python backend ======
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
instance/
.DS_Store

# ====== Node frontend ======
node_modules/
dist/
.vscode/
frontend/public/
frontend/package-lock.json

# ====== Logs ======
logs/
*.log

# ====== Database ======
*.sqlite3
*.db

# ====== Docker ======
docker-compose.override.yml

# InfluxDB data
monitoring/influxdb/data/
monitoring/influxdb/meta/